{{define "footer"}}
<footer class="footer">
  <div class="footer__inner">
    <a href="#" target="_blank" rel="noopener noreferrer">
      <img class="footer__svg" src="../static/svg/neurokids.svg" alt="Neurokids">
    </a>
    <a href="http://mebel-kapitan.ru/" target="_blank" rel="noopener noreferrer">
      <img class="footer__svg" src="../static/svg/cap.svg" alt="Cap">
    </a>
    <a href="https://gk-teremok.ru/" target="_blank" rel="noopener noreferrer">
      <img class="footer__svg" src="../static/svg/teremok.svg" alt="Teremok">
    </a>
    <a href="https://rosinterpro.ru/" target="_blank" rel="noopener noreferrer">
      <img class="footer__svg" src="../static/svg/iner.svg" alt="Iner">
    </a>
  </div>
</footer>
{{end}}
