{{define "title"}} NEUROKIDS {{end}}

{{block "styles" .}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@17/build/css/intlTelInput.min.css" />

<link rel="stylesheet" href="../static/css/main.css">
<!-- <link rel="stylesheet" href="../static/css/common.css"> -->
<link rel="stylesheet" href="../static/css/icon.css">
{{end}}

{{block "js" .}}
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.7/dist/inputmask.min.js"></script>
<script src="../static/js/gallery.js"></script>
{{end}}

{{block "neurokids" .}}

<section id="neurokids" class="section">
    <div class="section__inner-grid">
        <div class="neurokids">
            <div class="neurokids__intro">
                <div class="neurokids__tagline"> Сделано в России </div>
                <h1 class="neurokids__logo-title">NEUROKIDS</h1>
                <p class="neurokids__subtitle">
                    Дидактический набор <br>
                    <span class="neurokids__subtext">для работы с детьми от 3 до 10 лет</span>
                </p>
            </div>
            <div class="neurokids__ul">
                <p class="text20Regular">
                    Это <strong class="cl-gr">уникальный набор дидактических материалов и пособий</strong> для
                    коррекционно-развивающей работы с
                    <strong class="cl-dp">детьми дошкольного и младшего школьного возраста</strong>.
                </p>
                <p>
                    Он станет <strong class="cl-do">незаменимым
                        помощником для психологов, дефектологов, педагогов и специалистов</strong> по развитию
                    высших психических функций.
                </p>

                <p class="text20Regular">
                    Принцип комплектации набора основан на <strong class="cl-yl">нейропсихологическом
                        подходе</strong>.
                </p>

            </div>

        </div>
        <div class="section__image section__image--size">
            <picture class="section__image--up">
                <source srcset="/images/399/neurokids/wardrobe.png" media="(max-width: 399px)">
                <source srcset="/images/400/neurokids/wardrobe.png" media="(max-width: 599px)">
                <source srcset="/images/541/neurokids/wardrobe.png" media="(max-width: 992px)">
                <source srcset="/images/541/neurokids/wardrobe.png" media="(max-width: 1200px)">
                <source srcset="/images/541/neurokids/wardrobe.png" media="(min-width: 1201px)">
                <img src="/images/541/neurokids/wardrobe.png" alt="шкаф" loading="lazy" decoding="async">
            </picture>
        </div>
        <div class="neurokids__video">
            <div class="accordion" data-target="#accordion-detail-2" id="neurokidsVideo">
                <div class="accordion__header">
                    <div class="text25Medium text--green text25Medium--20px text25Medium--auto">
                        <b>ПОСМОТРИТЕ ВИДЕО О НАБОРЕ NEUROKIDS</b>
                    </div>
                    <div class="icon icon--down green"></div>
                </div>
            </div>


            <div id="accordion-detail-2" class="accordion__content">
                <video controls width="70%" height="70%" class="video">
                    <source src="../picture/output1.webm" type="video/mp4">
                    Ваш браузер не поддерживает тег <code>video</code>.
                </video>
            </div>

            <button class="button openModal">
                <span class="button__text">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</span>
            </button>
        </div>
    </div>
</section>

{{end}}

{{block "about" .}}

<section id="about" class="section">
    <div class="section__inner">
        <h2 class="section__title">О НАБОРЕ</h2>

        <div class="neurokids__text">
            <span class="text25Regular"> Материалы, вошедшие в дидактический набор Neurokids прошли апробацию в ходе
                20-летней практики и показали наибольшую эффективность в развитии психических функций у детей с
                нормотипичным и отклоняющимся развитием.
            </span>

            <span class="text25Regular">Нейропсихологический подход отводит особое внимание организации развивающей
                среды
                для ребенка. Дидактический
                набор Neurokids полностью отвечает критериям для создания развивающей среды даже в небольшом
                помещении:
            </span>

        </div>

        <div class="box-accordion">
            <div class="accordion" data-target="#accordion-detail-6">
                <div class="accordion__header accordion__header--spbw">
                    <div class="text40 text--Meduim text--green text--mg20-up-dw">
                        <b>Многогранность</b>
                    </div>
                    <div class="icon icon--down green"></div>
                </div>
            </div>


            <div id="accordion-detail-6" class="accordion__content">
                <p class="text20Regular">Мозг в процессе развития должен решать разнообразные задачи, так как
                    развивается только то, что востребовано. Каждая зона мозга нуждается в своей специфической
                    нагрузке. Это способствует формированию новых нейронных связей.<br>
                    Поэтому все комплектующие дидактического набора подобраны таким образом, чтобы обеспечить
                    максимально разнообразную нагрузку на различные зоны мозга и простимулировать развитие основных
                    психических процессов - внимания, разных видов восприятия и памяти, моторики, мышления и
                    эмоционально-волевой сферы.
                </p>
            </div>


            <div class="accordion" data-target="#accordion-detail-7">
                <div class="accordion__header accordion__header--spbw">
                    <div class="text40 text--Meduim text--green text--mg20-up-dw">
                        <b>Своевременность </b>
                    </div>
                    <div class="icon icon--down green"></div>
                </div>
            </div>


            <div id="accordion-detail-7" class="accordion__content">
                <p class="text20Regular">Развитие центральной нервной системы человека всегда происходит по
                    определенному, генетически запрограммированному пути, где каждый этап необходим и закономерно
                    вытекает один из другого. Для каждого возраста актуальны свои задачи, виды деятельности, и для
                    каждой психической функции существует свой сенситивный период, во время которого происходит
                    наиболее интенсивное развитие<br>
                    Методические рекомендации к комплектующим набора составлены в соответствии с возрастными
                    нормативами и ведущим видом деятельности. Таким образом одни и те же стимульные материалы при
                    изменении инструкции могут быть использованы в работе с детьми разного возраста и уровня
                    развития высших психических функций. Это делает Дидактический набор Neurokids функциональным и
                    универсальным инструментом в работе специалиста.
                </p>
            </div>

            <div class="accordion" data-target="#accordion-detail-8">
                <div class="accordion__header accordion__header--spbw">
                    <div class="text40 text--Meduim text--green text--mg20-up-dw">
                        <b>Социальность</b>
                    </div>
                    <div class="icon icon--down green"></div>
                </div>
            </div>


            <div id="accordion-detail-8" class="accordion__content">
                <p class="text20Regular">Высшие психические функции формируются под влиянием предметного мира и
                    взаимодействия с людьми. В процессе развития любая способность ребенка формируется изначально
                    совместно со взрослым, потом под контролем взрослого, затем становится самостоятельной
                    деятельностью
                    и переводится во внутренний план.<br>
                    Все материалы подбирались таким образом, чтобы взрослым, предлагающим стимульный материал, и
                    детям,
                    имеющим с ним дело, было легко и интересно им пользоваться. Правила подобранных игр интуитивно
                    понятны и будут стимулировать развитие психических функций детей, даже если времени на изучение
                    инструкций будет недостаточно. Однако для удобства использования в методическом пособии
                    представлены
                    варианты упражнений и планы как индивидуальных, так и групповых занятий.
                </p>
            </div>
        </div>
        <button class="button openModal">
            <span class="button__text">ПОЛУЧИТЬ КОНСТУЛЬАТЦИЮ</span>
        </button>
    </div>



</section>

{{end}}


{{block "compound" .}}

<section id="compound" class="section">

    <div class="section__inner">

        <h2 class="section__title">МОДУЛИ ВХОДЯЩИЕ В СОСТАВ</h2>

        <div class="box-grid">
            <div class="box-grid__cell" data-images='["/neurokids/box1/box1_1.jpg", "/neurokids/box1/box1_2.jpg"]'
                data-texts='["Солнце лениво поднималось над горизонтом, окрашивая облака в розовый оттенок.Звёзды мерцали на ночном небе, словно кто-то рассыпал бриллианты.На кухне шипела сковорода, распространяя аромат свежих блинчиков.Старик на скамейке кормил голубей, напевая мелодию из юности.Ветер шептал что-то таинственное, пробираясь сквозь густой лес.Девочка рисовала мелом на асфальте огромный замок с драконами.Часы на башне пробили полночь, эхом разносясь по спящему городу.Где-то вдали поезд прогудел, унося пассажиров в неизвестность.", "Облака плывут медленно, а река бурлит под старым мостом."]'>
                <img class="box-grid__svg" src="../static/svg/box1.svg" alt="">
                <div class="box-grid__text">
                    <div class="box-grid__title">1 ящик</div>
                    <div class="box-grid__description"> Игры и пособия, направленные на развитие внимания,
                        памяти, а также эмоциональной сферы </div>
                </div>
            </div>

            <div class="box-grid__cell" data-images='["/neurokids/box2/box2_1.jpg", "/neurokids/box2/box2_2.jpg"]'
                data-texts='["Солнце светит ярко, а кошки лазают по деревьям быстро.", "Птицы поют громко, хотя лес молчит в утренней тишине."]'>
                <img class="box-grid__svg" src="../static/svg/box2.svg" alt="">
                <div class="box-grid__text">
                    <div class="box-grid__title">2 ящик</div>
                    <div class="box-grid__description"> Материалы для развития слухового восприятия и восприятия
                        тактильного. </div>
                </div>
            </div>

            <div class="box-grid__cell"
                data-images='["/neurokids/box3/box3_1.jpg", "/neurokids/box3/box3_2.jpg", "/neurokids/box3/box3_3.jpg", "/neurokids/box3/box3_4.jpg"]'
                data-texts='["Звёзды мерцают ночью, а фонари гаснут на пустынной улице.", "Машина едет быстро, но дорога петляет среди зелёных холмов.", 
                    "Яблоки падают спелые, а муравьи маршируют в строгом порядке.", 
                    "Море шумит волнами, а чайки кричат над пенным прибоем."]'>

                <img class="box-grid__svg" src="../static/svg/box3.svg" alt="">
                <div class="box-grid__text">
                    <div class="box-grid__title">3 ящик</div>
                    <div class="box-grid__description"> Игры для восприятия зрительногои зрительно –
                        пространственного.
                    </div>
                </div>
            </div>

            <div class="box-grid__cell"
                data-images='["/neurokids/box4/box4_1.jpg", "/neurokids/box4/box4_2.jpg", "/neurokids/box4/box4_3.jpg", "/neurokids/box4/box4_4.jpg", "/neurokids/box4/box4_5.jpg"]'
                data-texts='["Дети смеются весело, хотя карусель скрипит на старом парке.", 
                    "Трава растёт густо, но тропинка теряется в высоких зарослях.", 
                    "Окна блестят чисто, а занавески колышутся от лёгкого ветра.", 
                    "Кофе пахнет крепко, но чашка остывает на холодном подоконнике."]'>

                <img class="box-grid__svg" src="../static/svg/box4.svg" alt="">
                <div class="box-grid__text">
                    <div class="box-grid__title">4 ящик</div>
                    <div class="box-grid__description"> Игрушки, направленные на развитие мелкой и крупной моторики.
                    </div>
                </div>
            </div>

            <div class="box-grid__cell"
                data-images='["/neurokids/box5/box5_1.jpg", "/neurokids/box5/box5_2.jpg", "/neurokids/box5/box5_3.jpg"]'
                data-texts='["Снег падает мягко, а санки скользят по крутому склону.", 
                    "Луна светит тускло, а волки воют в далёкой чаще.", 
                    "Поезд мчится быстро, но пейзажи за окном мелькают медленно."]'>
                <img class="box-grid__svg" src="../static/svg/box5.svg" alt="">
                <div class="box-grid__text">
                    <div class="box-grid__title">5 ящик</div>
                    <div class="box-grid__description"> Игры, направленные на развитие наглядно-действенного
                        компонента
                        мышления. </div>
                </div>
            </div>

            <div class="box-grid__cell"
                data-images='["/neurokids/box6/box6_1.jpg", "/neurokids/box6/box6_2.jpg", "/neurokids/box6/box6_3.jpg"]'
                data-texts='["Цветы цветут ярко, а пчёлы гудят в тёплом воздухе.", 
                    "Книги пылятся долго, но библиотека хранит их бережно всегда.", 
                    "Река течёт плавно, а рыбы прячутся под тёмными камнями."]'>
                <img class="box-grid__svg" src="../static/svg/box6.svg" alt="">
                <div class="box-grid__text">
                    <div class="box-grid__title">6 ящик</div>
                    <div class="box-grid__description"> Пособия, направленные на развитие наглядно–образного и
                        вербально-логического компонентов
                        мышления, а также кругозора.</div>
                </div>
            </div>


        </div>

        <div class="section__inner-row">

            <div class="section__text">
                <div class="text20Regular">
                    Сам комод изготовлен из массива березы или бука (на выбор покупателя), фасады окрашены финскими
                    гипоаллергенными красками на водной основе в современные пастельные тона.
                </div>

                <div class="text20Regular">
                    Ящики оснащены системой плавного выдвижения с доводчиками и центральным замком, один поворот
                    ключа
                    закрывает весь набор.
                </div>

                <div class="text20Regular">
                    Все колеса поворотные, усиленные с резиновым покрытием для мягкого хода и стопорами.
                </div>
            </div>

            <div class="section__gallery">
                <div class="icon icon--left green"></div>

                <div class="gallery__images">
                    <picture>
                        <source srcset="/images/399/neurokids/IMG_2348-min.jpg" media="(max-width: 399px)">
                        <source srcset="/images/412/neurokids/IMG_2348-min.jpg" media="(max-width: 599px)">
                        <source srcset="/images/600/neurokids/IMG_2348-min.jpg" media="(max-width: 992px)">
                        <source srcset="/images/900/neurokids/IMG_2348-min.jpg" media="(max-width: 1200px)">
                        <source srcset="/images/900/neurokids/IMG_2348-min.jpg" media="(min-width: 1201px)">
                        <img src="/images/900/neurokids/IMG_2348-min.jpg" alt="" loading="lazy" decoding="async"
                            class="gallery__img active">
                    </picture>

                    <picture>
                        <source srcset="/images/399/neurokids/IMG_2349-min.jpg" media="(max-width: 399px)">
                        <source srcset="/images/412/neurokids/IMG_2349-min.jpg" media="(max-width: 599px)">
                        <source srcset="/images/600/neurokids/IMG_2349-min.jpg" media="(max-width: 992px)">
                        <source srcset="/images/900/neurokids/IMG_2349-min.jpg" media="(max-width: 1200px)">
                        <source srcset="/images/900/neurokids/IMG_2349-min.jpg" media="(min-width: 1201px)">
                        <img src="/images/900/neurokids/IMG_2349-min.jpg" alt="" loading="lazy" decoding="async"
                            class="gallery__img">
                    </picture>

                    <picture>
                        <source srcset="/images/399/neurokids/IMG_2350-min.jpg" media="(max-width: 399px)">
                        <source srcset="/images/412/neurokids/IMG_2350-min.jpg" media="(max-width: 599px)">
                        <source srcset="/images/600/neurokids/IMG_2350-min.jpg" media="(max-width: 992px)">
                        <source srcset="/images/900/neurokids/IMG_2350-min.jpg" media="(max-width: 1200px)">
                        <source srcset="/images/900/neurokids/IMG_2350-min.jpg" media="(min-width: 1201px)">
                        <img src="/images/900/neurokids/IMG_2350-min.jpg" alt="" loading="lazy" decoding="async"
                            class="gallery__img">
                    </picture>
                </div>


                <div class="icon icon--right green"> </div>
            </div>

        </div>

        <div class="section__inner-row section__inner-row--reverse">
            <div class="section__text section__text--lf-margin">
                <div class="text20Regular">
                    На боковой поверхности каждого набора крепится фетровое поле, к нему прилагаются 14 комплектов
                    разных тематик:
                </div>

                <div class="text20Regular">
                    Домашние животные, дикие животные, мебель и интерьер, кухня и посуда, ягоды, транспорт и многое
                    другое.
                </div>

                <button class="button openModal">
                    <span class="button__text">ПОЛУЧИТЬ КОНСТУЛЬАТЦИЮ</span>
                </button>

            </div>

            <div class="section__gallery section__gallery--no-margin">
                <div class="icon icon--left green"></div>
                <div class="gallery__images">
                    <picture>
                        <source srcset="/images/399/neurokids/IMG_2368.jpg" media="(max-width: 399px)">
                        <source srcset="/images/412/neurokids/IMG_2368.jpg" media="(max-width: 599px)">
                        <source srcset="/images/600/neurokids/IMG_2368.jpg" media="(max-width: 992px)">
                        <source srcset="/images/900/neurokids/IMG_2368.jpg" media="(max-width: 1200px)">
                        <source srcset="/images/900/neurokids/IMG_2368.jpg" media="(min-width: 1201px)">
                        <img src="/images/900/neurokids/IMG_2368.jpg" alt="" loading="lazy" decoding="async"
                            class="gallery__img active">
                    </picture>

                    <picture>
                        <source srcset="/images/399/neurokids/IMG_2378.jpg" media="(max-width: 399px)">
                        <source srcset="/images/412/neurokids/IMG_2378.jpg" media="(max-width: 599px)">
                        <source srcset="/images/600/neurokids/IMG_2378.jpg" media="(max-width: 992px)">
                        <source srcset="/images/900/neurokids/IMG_2378.jpg" media="(max-width: 1200px)">
                        <source srcset="/images/900/neurokids/IMG_2378.jpg" media="(min-width: 1201px)">
                        <img src="/images/900/neurokids/IMG_2378.jpg" alt="" loading="lazy" decoding="async"
                            class="gallery__img">
                    </picture>

                    <picture>
                        <source srcset="/images/399/neurokids/IMG_2382.jpg" media="(max-width: 399px)">
                        <source srcset="/images/412/neurokids/IMG_2382.jpg" media="(max-width: 599px)">
                        <source srcset="/images/600/neurokids/IMG_2382.jpg" media="(max-width: 992px)">
                        <source srcset="/images/900/neurokids/IMG_2382.jpg" media="(max-width: 1200px)">
                        <source srcset="/images/900/neurokids/IMG_2382.jpg" media="(min-width: 1201px)">
                        <img src="/images/900/neurokids/IMG_2382.jpg" alt="" loading="lazy" decoding="async"
                            class="gallery__img">
                    </picture>

                    <picture>
                        <source srcset="/images/399/neurokids/IMG_2384.jpg" media="(max-width: 399px)">
                        <source srcset="/images/412/neurokids/IMG_2384.jpg" media="(max-width: 599px)">
                        <source srcset="/images/600/neurokids/IMG_2384.jpg" media="(max-width: 992px)">
                        <source srcset="/images/900/neurokids/IMG_2384.jpg" media="(max-width: 1200px)">
                        <source srcset="/images/900/neurokids/IMG_2384.jpg" media="(min-width: 1201px)">
                        <img src="/images/900/neurokids/IMG_2384.jpg" alt="" loading="lazy" decoding="async"
                            class="gallery__img">
                    </picture>
                </div>

                <div class="icon icon--right green"> </div>
            </div>

        </div>
    </div>
</section>

{{end}}

{{block "school" .}}

<section id="school" class="section">
    <div class="section__inner">
        <h2 class="text55 text--center"> <b>Детским садам и школам</b> </h2>
        <div class="section__inner-row">

            <div class="section__text section__text--gap20">

                <div class="text20Regular"> Дидактический набор Neurokids станет незаменимым помощников в работе
                    специалистов учебных заведений, коррекционных заведений и центров развития. Материалы
                    подобраны таким образом, что профессиональные потребности нескольких специалистов будут
                    удовлетворены. Педагог-психолог, дефектолог, нейропсихолог, методист, специалист по развитию
                    высших психических функций могут использовать один набор для индивидуальной работы и работы
                    с группой детей (до 4-5 человек).
                </div>
                <div class="text20Regular"> Сам комод сконструирован таким образом, что даже отсутствие отдельного
                    кабинета у специалиста не станет препятствием для эффективной работы.
                </div>
            </div>

            <div class="section__gallery">
                <div class="icon icon--left green"></div>
                <div class="gallery__images">
                    <picture>
                        <source srcset="/images/399/neurokids/IMG_2353.jpg" media="(max-width: 399px)">
                        <source srcset="/images/412/neurokids/IMG_2353.jpg" media="(max-width: 599px)">
                        <source srcset="/images/600/neurokids/IMG_2353.jpg" media="(max-width: 992px)">
                        <source srcset="/images/900/neurokids/IMG_2353.jpg" media="(max-width: 1200px)">
                        <source srcset="/images/900/neurokids/IMG_2353.jpg" media="(min-width: 1201px)">
                        <img src="/images/900/neurokids/IMG_2353.jpg" alt="" loading="lazy" decoding="async"
                            class="gallery__img active">
                    </picture>

                    <picture>
                        <source srcset="/images/399/neurokids/IMG_2358.jpg" media="(max-width: 399px)">
                        <source srcset="/images/412/neurokids/IMG_2358.jpg" media="(max-width: 599px)">
                        <source srcset="/images/992/neurokids/IMG_2358.jpg" media="(max-width: 992px)">
                        <source srcset="/images/900/neurokids/IMG_2358.jpg" media="(max-width: 1200px)">
                        <source srcset="/images/900/neurokids/IMG_2358.jpg" media="(min-width: 1201px)">
                        <img src="/images/900/neurokids/IMG_2358.jpg" alt="" loading="lazy" decoding="async"
                            class="gallery__img">
                    </picture>

                    <picture>
                        <source srcset="/images/399/neurokids/IMG_2465.jpg" media="(max-width: 399px)">
                        <source srcset="/images/412/neurokids/IMG_2465.jpg" media="(max-width: 599px)">
                        <source srcset="/images/992/neurokids/IMG_2465.jpg" media="(max-width: 992px)">
                        <source srcset="/images/900/neurokids/IMG_2465.jpg" media="(max-width: 1200px)">
                        <source srcset="/images/900/neurokids/IMG_2465.jpg" media="(min-width: 1201px)">
                        <img src="/images/900/neurokids/IMG_2465.jpg" alt="" loading="lazy" decoding="async"
                            class="gallery__img">
                    </picture>
                </div>

                <div class="icon icon--right green"> </div>
            </div>



        </div>

        <div class="section__inner-row section__inner-row--reverse">
            <div class="section__text section__text--lf-margin">

                <div class="text20Regular">
                    Все материалы промаркированы и уложены в отдельные ящики. Это позволит быстро найти необходимое
                    пособие, а после окончания занятия убрать все на свои места

                </div>
                <div class="text20Regular">
                    Прочная конструкция комода и каучуковые колесики позволяют перевозить набор из одного помещения
                    в другое.
                </div>
                <div class="text20Regular">
                    Дидактический набор Neurokids изготовлен на российском производстве и имеет все необходимые
                    сертификаты соответствия.

                </div>

                <button class="button openModal">
                    <span class="button__text">ПОЛУЧИТЬ КОНСТУЛЬАТЦИЮ</span>
                </button>
            </div>
            <div class="section__gallery">
                <div class="icon icon--left green"></div>
                <div class="gallery__images">
                    <picture>
                        <source srcset="/images/399/neurokids/IMG_2467.jpg" media="(max-width: 399px)">
                        <source srcset="/images/412/neurokids/IMG_2467.jpg" media="(max-width: 599px)">
                        <source srcset="/images/600/neurokids/IMG_2467.jpg" media="(max-width: 992px)">
                        <source srcset="/images/900/neurokids/IMG_2467.jpg" media="(max-width: 1200px)">
                        <source srcset="/images/900/neurokids/IMG_2467.jpg" media="(min-width: 1201px)">
                        <img src="/images/900/neurokids/IMG_2467.jpg" alt="" loading="lazy" decoding="async"
                            class="gallery__img active">
                    </picture>

                    <picture>
                        <source srcset="/images/399/neurokids/IMG_2479.jpg" media="(max-width: 399px)">
                        <source srcset="/images/412/neurokids/IMG_2479.jpg" media="(max-width: 599px)">
                        <source srcset="/images/600/neurokids/IMG_2479.jpg" media="(max-width: 992px)">
                        <source srcset="/images/900/neurokids/IMG_2479.jpg" media="(max-width: 1200px)">
                        <source srcset="/images/900/neurokids/IMG_2479.jpg" media="(min-width: 1201px)">
                        <img src="/images/900/neurokids/IMG_2479.jpg" alt="" loading="lazy" decoding="async"
                            class="gallery__img">
                    </picture>
                </div>

                <div class="icon icon--right green"> </div>
            </div>
        </div>

    </div>
</section>

{{end}}

{{block "dealers" .}}

<section id="dealers" class="section section--center">
    <div class="section__inner">

        <h2 class="text30 text--center"><b>ПРИГЛАШАЕМ ДИЛЛЕРОВ К СОТРУДНИЧЕСТВУ</b></h2>

        <ul class="dealer-benefit">
            <li>Представлем скидки и особые условия работы</li>
            <li>Помогаем с подготовкой к аукционам</li>
        </ul>

        <form class="dealer-form">

            <input id="name" type="text" placeholder="Ваше имя" class="input">
            <input id="phone" type="tel" placeholder="+7 (___)___-__-__" class="input phone-input">

            <button type="button" class="button openModal">
                <span class="button__text">ПОЛУЧИТЬ КОНСТУЛЬАТЦИЮ</span>
            </button>

            <label class="consent-label">
                <input type="checkbox" name="agree" />
                Нажимая на кнопку, Вы соглашаетесь с обработкой персональных данных и с политикой конфиденциальности
            </label>

        </form>
    </div>
</section>

{{end}}


{{block "delivery" .}}

<section id="delivery" class="section">
    <div class="section__inner">
        <h2 class="text55 text--center"> <b>КАК ПРОХОДИТ ДОСТАВКА И ОПЛАТА</b> </h2>


        <div class="box-accordion">


            <div class="accordion" data-target="#accordion-detail-3">
                <div class="accordion__header accordion__header--spbw">
                    <div class="text40 text--Meduim text--green text--mg20-up-dw">
                        <b>КАК ПРОИСХОДИТ ОПЛАТА?</b>
                    </div>
                    <div class="icon icon--down green"></div>
                </div>
            </div>


            <div id="accordion-detail-3" class="accordion__content">
                <p class="text20Regular">Предоставляем на Ваш выбор любую форму оплаты товара: частичная предоплата,
                    предоплата 100%, оплата по факту поставки товара.</p>
            </div>

            <div class="accordion" data-target="#accordion-detail-4">
                <div class="accordion__header accordion__header--spbw">
                    <div class="text40 text--Meduim text--green text--mg20-up-dw">
                        <b>КАК ОСУЩЕСТВЛЯЕТСЯ ДОСТАВКА?</b>
                    </div>
                    <div class="icon icon--down green"></div>
                </div>
            </div>


            <div id="accordion-detail-4" class="accordion__content">
                <p class="text20Regular">Доставим Ваш заказ в любую точку России той транспортной компанией, которая
                    бережно
                    выполняет условия и соблюдает сроки доставки, а также учтем Ваши пожелания;</p>

                <p class="text20Regular">Отправляем Вам необходимый пакет документов в течение 3х рабочих дней в
                    любой
                    населенный пункт России;</p>

                <p class="text20Regular">Благодаря нашему многолетнему опыту работы логистика отлажена на 100%;</p>

                <p class="text20Regular">Получив наш товар, Вы всегда найдете в нем необходимый Вам пакет
                    документов,
                    включающий сертификаты соответствия на все позиции, договоры, счета, акты приема-передачи и
                    товарные
                    накладные;</p>

                <p class="text20Regular">Срок поставки рассчитывается индивидуально , в зависимости от удаленности
                    Вашего
                    региона;</p>

            </div>

            <div class="accordion" data-target="#accordion-detail-5">
                <div class="accordion__header accordion__header--spbw">
                    <div class="text40 text--Meduim text--green text--mg20-up-dw">
                        <b>ГАРАНТИИ И ВОЗВРАТ ТОВАРА?</b>
                    </div>
                    <div class="icon icon--down green"></div>
                </div>
            </div>


            <div id="accordion-detail-5" class="accordion__content">
                <p class="text20Regular">Перед отправкой товара мы всегда проверяем его на брак, пересорт и
                    обязательно
                    упаковываем так, чтобы он приехал к Вам без повреждений;</p>

                <p class="text20Regular">Если в полученном Вами заказе есть товар, не соответствующий заявленным в
                    договоре
                    характеристикам, то мы оперативно отправим Вам замену за наш счет!</p>

                <p class="text20Regular">По Вашим пожеланиям осуществляем выгрузку товара, доставляем его до дверей
                    учреждения, заносим на 1 этаж.</p>

                <p class="text20Regular">Мы работаем для Вас! Вся наша команда ответственно подходит к выполнению
                    своей
                    работы, начиная от первого звонка, даря положительные эмоции, до подбора каждой игрушки. Сверяя
                    на
                    складе каждую позицию со спецификацией в договоре, координируя логистику и подготавливая
                    отгрузочные
                    документы – мы всегда помним, что взаимодействуем с людьми, начиная с Вас, наши Клиенты и
                    заканчивая
                    малышами, которые приходят в Ваш детский сад каждое утро. Мы хотим сотрудничать с Вами не одну
                    поставку,
                    а всегда!</p>
            </div>
        </div>

    </div>
</section>

{{end}}




{{block "sroc" .}}

<section class="section">
    <div class="section__inner">
        <div class="text14">Срок поставки, наличие уточняйте у менеджера.</div>
        <div class="text14">Срок ответа в течении 10 рабочих дней.</div>
    </div>
</section>

{{end}}

{{block "dialog" .}}

<dialog id="myModal" class="modal modal-consult">
    <div class="modal__content">
        <button class="modal__close" aria-label="Закрыть">&times;</button>
        <h2 class="text30 text--center">ПОЛУЧИТЬ КОНСТУЛЬТАЦИЮ СПЕЦИАЛИСТА</h2>
        <p class="text17">Заполните форму ниже и мы свяжемя с Вами в ближайшее время</p>
        <form method="dialog" class="modal-consult__form">
            <input id="name-modal" type="text" placeholder="Ваше имя" class="input input--dialog">
            <input id="phone-modal" type="tel" placeholder="+7 (___)___-__-__" class="input phone-input input--dialog">
            <input id="email-modal" type="text" placeholder="e-mail" class="input input--dialog">
            <input id="com" type="text" placeholder="Комментарий" class="input input--dialog">
            <button class="button button--small">
                <span class="button__text">ОТПРАВИТЬ</span>
            </button>
        </form>
    </div>

</dialog>

<dialog id="rekvModal" class="modal modal-rekv">

    <div class="modal__content">
        <button class="modal__close" aria-label="Закрыть">&times;</button>
        <h2 class="text30 text--center">РЕКВИЗИТЫ</h2>
        <p><b>Полное наименование:</b> Общество с ограниченной ответственностью «ГК ТЕРЕМОК»</p>
        <p><b>Сокращенное:</b> ООО «ГК ТЕРЕМОК»</p>
        <p><b>ФИО:</b> Беляев Владимир Анатольевич</p>
        <p><b>Должность:</b> Директор, действующий на основании Устава</p>
        <p><b>Юр. адрес:</b> 620089, Россия, Свердловская обл., г. Екатеринбург, ул. Машинная, 42а, этаж 5, офис 501
        </p>
        <p><b>Дата регистрации:</b> 22 января 2019 г.</p>
        <p><b>ОГРН:</b> 1196658003684</p>
        <p><b>ИНН:</b> 6685158300</p>
        <p><b>КПП:</b> 668501001</p>
        <p><b>ОКПО:</b> 35585132</p>
        <p><b>ОКТМО:</b> 65401000001</p>
        <p><b>Р/с:</b> 40702810416540057230</p>
        <p><b>Банк:</b> УРАЛЬСКИЙ БАНК ПАО СБЕРБАНК, г. Екатеринбург</p>
        <p><b>БИК:</b> 046577674</p>
        <p><b>Корр. счет:</b> 30101810500000000674</p>
        <p><b>Телефон:</b> <a href="tel:+73432868359">+7 (343) 286-83-59</a></p>
        <p><b>E-mail:</b> <a href="mailto:1@gk-teremok.ru">1@gk-teremok.ru</a></p>
    </div>
</dialog>


<dialog id="loginModal" class="modal login-modal">
    <div class="modal__content">
        <button class="modal__close" aria-label="Закрыть">&times;</button>

        <h2 class="text30 text--center">Вход</h2>
        <form class="login-form">
            <input type="text" placeholder="Логин" name="login" class="input input--login">
            <input type="password" placeholder="Пароль" name="pass" class="input input--login">
            <div class="login-error" style="color: red; margin-top: 10px; display: none;"></div>
            <button class="button button--small" type="submit"> <span class="button__text">ВОЙТИ</span></button>
        </form>
    </div>
</dialog>

<dialog id="box" class="modal modal-box">
    <div class="modal__content">
        <div class="section__gallery">
            <div class="icon icon--left green" id="prevBtn"></div>
            <div class="modal__inner">
                <div class="modal-gallery__images" id="galleryImages"></div>

                <div class="text20Medium" id="imageText"></div>


            </div>
            <div class="icon icon--right green" id="nextBtn"></div>
        </div>
    </div>

</dialog>

{{end}}

{{block "content" .}}

{{block "neurokids" .}} {{end}}
{{block "about" .}} {{end}}
{{block "compound" .}} {{end}}
{{block "school" .}} {{end}}
{{block "dealers" .}} {{end}}
{{block "delivery" .}} {{end}}
{{block "sroc" .}} {{end}}
{{block "dialog" .}} {{end}}

{{end}}